html {
}

body {
    color: #000;
    background: #ddf;
    text-align: center;
    font-family: sans-serif;
    padding: 5px;
    margin: 0;
}
.stats table {
    border: solid #004 1px;
	border-collapse: collapse;
	margin: 0 1em 1em;
	float: left;
}
.stats th, td {
	border: 0;
	padding: 0.125em 0.5em 0.125em;
	font-size: 10pt;
	vertical-align: top;
}
.stats thead th {
    color: #fff;
    background: #004;
	text-align: center;
}
.stats tbody {
    border: solid #004 1px;
}
.stats tbody th {
	text-align: left;
}
.stats td {
	text-align: right;
}
.stats td.bar {
	text-align: left;
}
.stats img.bar {
	border: solid #004 1px;
	background-color: #004;
	height: 20px;
	vertical-align: middle;
}
.stats img.max {
    border-color: #800;
	background-color: #800;
}

.stats img.flag {
	display: inline;
	padding: 0;
	margin: 0;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a.photo {
    float: left;
    margin: 1px;
    background-color: #bbb;
}
a.photo:hover {
    background-color: #ddd;
}

h1 {
	margin: 0;
}
h2 {
    width: 100%;
    color: #fff;
    background: #004;
    font-size: 24pt;
    text-align: center;
    margin: 1px 1px 0;
    padding: 0;
    clear: both;
}
h2 span {
    padding: 0 1em;
    display: inline;
}
h2 a {
    color: #fff;
    background: inherit;
}
h3 {
    width: 35px;
    height: 200px;
    color: #fff;
    background: #004;
    font-size: 18pt;
    text-align: center;
    margin: 1px;
    padding: 5px 3px;
    border: solid #004 1px;
    float: left;
}
h3 span {
	display: block;
    font-size: 8pt;
    margin: 0;
    color: #ddf;
    background: inherit;
}
h3 span.age {
    margin: 1em 0 0;
}
h6 {
    margin: 1em;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

div.block {
    vertical-align: top;
    height: 214px;
    float: left;
}

span.copyright {
    display: none;
}
img {
    border: 0;
}
span.photo {
	display: block;
    background-repeat: no-repeat;
    background-position: 5px 5px;
    border: solid #004 1px;
    margin: 0;
    padding: 0;
    text-align: left;
}

hr {
    clear: both;
}
span.flag_container {
	display: block;
    position: relative;
    top: 198px;
    left: 1px;
}
img.flag {
    display: block;
}
